.title2{
  font-weight:800;
  letter-spacing:1px;
}
.dot2{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
margin-right:10px;


}
.image{
  margin:0px;
   padding:0px;
   width:25%
}
.title3{
  margin:auto;

}
.para3{
  margin:auto;
}
.hr{
  width:7%;
  border:1px solid red;
  margin:auto;
  padding:auto;
}
#frame{
  background-color: white;
}
#image2{
  width:60%;
  height:200px;
  margin:10px;
  padding:10px;
}
#para4{
  font-family:serif;
   color:white;
}
#col12{
  background-color: rgb(67,70,75);
  color:white;
  padding:20px;

}
#col13{
  background-color: rgb(67,70,75);
  color:white;
  padding:20px;
}
#col14{
  background-color:white;
  border:1px solid green;
  padding:30px;
  margin:20px;
}
 /* 1  */
.col15{
  height:auto;
  width:50%;
  border:1px solid green;
  padding:20px;
} 
.dot3{
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
margin: auto;
}

@media only screen and (max-width: 600px) {
  #top-title {
    font-size: 18px !important;
  }
}